.footer{
	background-color:343a40;

	margin-top:100px;
}
.book-btn-warning {
    background-color: #f7a405; 
    color: #000;               
    padding: 10px 22px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.book-btn-warning:hover {
    background-color: #d68f04;
    color: #000;
}



